.site-header{
    background-color: #234a5b;
    color: white;
    display: flex;
    height: 4rem;
    margin-bottom: 3rem;
    padding: 0 0.6rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    /* justify-content: space-between;
    /* width: 30%; */
   float : top;
    float:left;
    display: flex;
    
    padding-top:12px;
    margin-left:-10px;
    align-items: center;
    

   
}
