.box {
    width: 100%;
    margin-bottom: 2rem;
    /* border: 1px solid grey; */
    padding: 2rem;
    box-shadow: 0px 2px 8px lightgrey;
}

.box:hover{
    box-shadow: 5px;
}

.hide {
    display:none;
}

#btn{
    font-size: 1.5rem;
    width: 100%;
    color: #EEE;
    border: 0;
    background: #0181c4;
    border-radius: 8px;
    margin-top: 2rem;

}

.grid__section{
    display: flex;
    justify-content: space-between;
}

.map{
    height: 200px !important;
    width: 200px !important;
    border: 5px solid #000;

}



