.modal-wrapper {
    background:#023675;
    border: 5px solid black;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    padding: 3rem;
    transition: all .8s;
    width: 48%;
    position: fixed;
    top: 8rem;
    left: 10rem;
}

.modal_text{
    color: white;
}

.btn-cancel{
    background-color: white;
    padding: .5rem;
}

.modal-footer{
    margin-top: 1.5rem;
}