.modal-wrapper {
    background:#FFF;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    padding: 3rem;
    transition: all .8s;
    width: 48%;
    position: fixed;
    top: 8rem;
    left: 10rem;
}

.modal_text{
    color: black;
    text-align: center;
}


.modal-footer{
    padding-top: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    margin: auto;
}