
.order-form{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    max-width: 100vw;
    text-align: center;
    box-shadow: 0px 2px 8px lightgrey;
    padding: 1rem;
}

.order-form > * {
    margin-bottom: 1rem;

}

.form-item{ 
    height: 4rem;
    width: 100%;
    box-shadow: 0px 0px 8px 1px lightgrey;
    border-top: none;
    border-left: none;
}

input{
    padding: 1rem;
}

.btn-form{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    border: 0;
    background: rgba(67, 208, 203);
    border-radius: 8px;
    cursor: pointer;
    
}


.btn-form:hover{
    background: rgb(38, 150, 146);
    box-shadow: 0px 0px 8px 1px lightgrey;
}

#btnM{
    text-align: center;
}

.form-btn{
    width: 60%;
}


