.site-header{
    background-color: #000;
    position: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
    color: white;
    display: flex;
    height: 4rem;
    padding: 0 0.6rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 5000;
    top: 0;
    

}
.logo{
    margin-top: 2px;
    display: flex;
    padding: 2px;
    margin-left:-20px;
    align-items: center;
    height: 5.1rem;  
}

.logo:hover{
    cursor: pointer;
}
